<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your Game Name Goes Here</title>
    </head>
    <body></body>
    <!-- <script src="../Engine/CodeboardEngine.js"></script> -->

    <script src="../Engine/EngineCore.js"></script>
    <script src="../Engine/EngineGraphics.js"></script>
    <script src="../Engine/EngineUtilities.js"></script>
    <script src="../Engine/EnginePhysics.js"></script>
    <script src="../Engine/EngineAsync.js"></script>
    <script src="../Engine/EngineAbilities.js"></script>
    <script src="../Engine/EngineAI.js"></script>
    <script src="../Engine/EngineEntity.js"></script>
    <script src="../Engine/EngineUI.js"></script>
    <script src="../Engine/EngineLayers.js"></script>

    <script src="Abilities.js"></script>

    <script>
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // GAME SETUP FUNCTIONS | TOUCH AT YOUR OWN RISK
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        game.width = 800;
        game.height = 600;
        game.cameraX = 0;
        game.cameraY = 0;
        game.debug = false;
        // currentLayer.deltaMod = 0.2;
        game.background = "#2a4720";

        function load() {
            player.mousedownEvent = player.abilities["Attack"].activate;
            player.mouseupEvent = player.abilities["Attack"].deactivate;
            player.controller = new PlayerController(player);
            player.layer.cameraFollow = player;
            const spawnFunc = function () {
                if (randomChance(0.1)) spawnFunc();
                spawnEnemy(randomChoice(enemyTypes), randomPointInCircle(game.diagonal / 2, { start: player }));
            };
            const spawnTask = scheduleTask(spawnFunc, { time: 0.5, loop: true });
            addUI();
            game.draw();
        }

        function addUI() {
            const hud = UI.Blank({ overlay: true });
            if (game.debug) {
                const playerStats = hud.add(
                    UI.Text("", 10, 80, {
                        font: "8px monospace",
                        width: 400,
                        linewrap: true,
                        color: "white",
                        onupdate: () => (playerStats.text = player.debugString()),
                    })
                );
            }
            hud.add(
                UI.ProgressBar(() => player.health / player.health.max, 5, 5, canvas.width - 10, 12, {
                    background: "black",
                    fill: "red",
                    stroke: "#cd9958",
                    strokeWidth: 3,
                    cornerRadius: 30,
                })
            );
            // hud.add(UI.ProgressBar(() => player.health.percent, 385, 285, 30, 4, { background: "black", fill: "red" }));
            hud.show();
        }

        function showDeath() {
            UI.Dialogue(250, 200, 300, 200, "You Died", `Final Score: ${player.kills}`, 50, {
                cornerRadius: 25,
                background: "white",
                color: "black",
                stroke: "black",
                fill: "red",
                buttonText: "Restart",
                onmyclick: () => location.reload(),
            }).show();
        }
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // GAME DATA | ADD TO AND CUSTOMIZE FREELY
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        const DownKeyEvents = {
            KeyP: togglePause,
            KeyH: () => (player.health.percent = 1),
            KeyK: () => (player.health.percent = 0),
        };
        const enemyTypes = {
            bat: {
                damage: 4,
                health: 5,
                speed: 105,
                size: 16,
                color: "RebeccaPurple",
            },
            weak_bat: {
                damage: 4,
                health: 1,
                speed: 105,
                size: 10,
                color: "RebeccaPurple",
            },
            zombie: {
                damage: 9,
                health: 10,
                speed: 105,
                size: 24,
                color: "gray",
            },
        };
        const enemyInfo = {
            stats: { damage: 3 },
            collisions: ["Player"],
            onspawn: function () {
                this.addAbility("Attack");
                this.controller = new EnemyController(this, player);
                setUpDmgEvents(this);
            },
            oncollide: function (other) {
                this.abilities["Attack"].activate();
                this.x -= (this.velocity.x * this.size) / 20;
                this.y -= (this.velocity.y * this.size) / 20;
            },
            ondeath: function () {
                this.despawn();
                player.kills += 1;
            },
            onhit: () => {},
            onheal: () => {},
        };

        registerAbility("Attack", {
            cooldown: 0.2,
            onactivate: function () {
                this.tick();
            },
            ontick: function () {
                const me = this.owner;
                //DO FIX THIS TO BE BETTER
                for (let group of me.collisions)
                    for (let other of me.layer.getEntities(group))
                        if (detectCone(me.x, me.y, me.facingDirection, Math.PI / 2, 60, other.x, other.y)) {
                            other.health -= me.damage;
                            me.hit(other, +me.damage);
                            if (other.health <= 0) other.death();
                        }
                // this.cooldown = player.attackSpeed;
            },
            ondraw: function () {
                drawCone(0, 0, 0, this.owner.facingDirection, Math.PI / 2, 60, { fill: "#a534" });
            },
        });
        registerEntity("Enemy", enemyInfo, enemyTypes);
        registerEntity("Player", {
            maxSpeed: 225,
            acceleration: 7.5,
            weapons: [],
            pickupRadius: 100,
            stats: { health: 120, maxhealth: 120, damage: 20 },
            kills: 0,
            collisions: ["Enemy"],
            onupdate: function (delta) {
                if (this.health <= 0) showDeath();
            },
            onlevelup: function () {
                this.neededXP += this.level * 10;
                const isMaxLevel = (o) => weaponTypes[o].currentLevel >= Object.keys(weaponTypes[o].levels).length;
                let options = Object.keys(weaponTypes).filter((a) => !isMaxLevel(a));
                if (!options.length) player.health = Math.min(player.health + 25, player.maxHP);
                else showLevelUp(options);
            },
            onhit: () => {},
            onheal: () => {},
        });

        const player = spawnPlayer({
            color: "olive",
            size: 20,
            onspawn: function () {
                this.addAbility("Bloodthirst_1", { keys: "Digit0" });
                this.addAbility("RecklessRage_1", { keys: "Digit1" });
                this.addAbility("RecklessRage_2");
                this.addAbility("Dash_1", { keys: "Digit2" });
                this.addAbility("Attack", { keys: "Space" });
                this.abilities["Attack"].mode = "Channel";
                setUpDmgEvents(this);
            },
            ondeath: showDeath,
        });

        function setUpDmgEvents(entity) {
            // TODO: add damage events so they actually work...
            // entity.onhealthchange = function () {};
        }
    </script>
</html>
