<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your Game Name Goes Here</title>
    </head>
    <body></body>
    <script src="GameEngine.js"></script>
    <script>
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // CORE GAMEPLAY FUNCTIONS | TOUCH AT YOUR OWN RISK
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        // Key state object
        const MouseKeyEvents = {
            Down: startShooting,
            Up: stopShooting,
        };
        const DownKeyEvents = {
            KeyP: togglePause,
            Space: startShooting,
            ControlLeft: startShooting,
            ControlRight: startShooting,
            Digit1: () => spawnPickup(pickupTypes.multi, { x: player.x, y: player.y }),
            Digit2: () => spawnPickup(pickupTypes.nuke, { x: player.x, y: player.y }),
            Digit3: () => spawnPickup(pickupTypes.vaccum, { x: player.x, y: player.y }),
            KeyK: () => (player.hp = 0),
        };
        const UpKeyEvents = {
            Space: stopShooting,
            ControlLeft: stopShooting,
            ControlRight: stopShooting,
        };

        function stopShooting() {
            clearTask("shoot");
        }

        function startShooting(type = player.bulletType) {
            player.bulletType = type;
            scheduleTask(
                (type) => {
                    for (let i = 0; i < (type.count ?? 1); i++) {
                        spawnBullet(type, { spawnOrder: i + 1, dir: -Math.PI / 2 });
                    }
                },
                { immediate: true, loop: true, time: bulletTypes[type].rate, id: "shoot" },
                bulletTypes[type]
            );
        }

        game.width = 600;
        game.height = 800;

        function load() {
            game.onupdate = updateGame;
            for (let time in waves) scheduleTask(spawnWave, { time: +time }, waves[time]);
            game.playMusic("theme.mp3");
            // Give points for time survived
            scheduleTask(() => player.score++, { loop: 1, time: 2 });
            addUI();
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // GAME UPDATE FUNCTIONS | TOUCH AT YOUR OWN RISK
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        function updateGame(delta) {
            if (player.hp <= 0) {
                return showDeath();
            }
            // Fill Background Black
            ctx.fillStyle = "black";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
        }
        function showDeath() {
            const popup = UIPopup(150, 250, 300, 200, "You Died", `Final Score: ${player.score}`, 50, {
                radius: 25,
                background: "white",
                textColor: "black",
                strokeColor: "black",
                buttonColor: "red",
                buttonText: "Restart",
                buttonAction: () => location.reload(),
            });
            popup.show();
        }
        function addUI() {
            const UI = makeUI();
            const healthUI = UIText(`HP: ${player.hp}`, 10, 30, { font: "24px monospace", color: "red" });
            healthUI.onupdate = () => (healthUI.text = `HP: ${player.hp}`);
            UI.add(healthUI);
            const killsUI = UIText(`Score: ${player.score}`, 10, 60, {
                font: "24px monospace",
                color: "gold",
            });
            killsUI.onupdate = () => (killsUI.text = `Score: ${player.score}`);
            UI.add(killsUI);
            UI.show({ overlay: true });
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // GAME SPAWN FUNCTIONS | TOUCH AT YOUR OWN RISK
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        function spawnDrops(enemy) {
            // Spawn Pickups
            function addDrop(x, y, point) {
                if (Math.random() < this.rarity) {
                    if (this.type == "gold") {
                        let total = point;
                        const numObjects = Math.min(100, point);
                        for (let i = 0; i < numObjects; i++) {
                            // Calculate radius dynamically based on the number of coins
                            const radius = (canvas.width / 6) * Math.sqrt(i / numObjects) * (numObjects / 100);

                            const angle = (i / numObjects) * (1.61803398875 * Math.PI * Math.PI) * Math.PI * 2;

                            const value = Math.floor(point / numObjects);
                            total -= value;
                            // Calculate x and y using polar coordinates
                            x += radius * Math.cos(angle);
                            y += radius * Math.sin(angle);

                            spawnPickup(this, { x, y, value, speed: 30, dir: Math.PI / 2 });
                        }
                    } else {
                        const rand = Math.random() * this.size;
                        x += rand;
                        y += Math.random() * this.size - rand;
                        spawnPickup(this, { x, y, speed: 30, dir: Math.PI / 2 });
                    }
                }
            }
            forEveryPickupTypeDo(addDrop, enemy.x, enemy.y, enemy.point);
        }

        function spawnWave(waveData) {
            // Remove last wave
            spawnWave.timers ??= [];
            spawnWave.timers.forEach(clearTask);
            spawnWave.timers.length = 0;
            // Add each enemy
            for (let type in waveData) {
                let current = waveData[type];
                for (let i = 0; i < (current.quantity ?? 1); i++) {
                    if (current.spawnOnce) spawnEnemy(enemyTypes[type]);
                    else {
                        const spawnFunc = () => spawnEnemy(enemyTypes[type]);
                        const spawnTask = scheduleTask(spawnFunc, { time: current.interval ?? 1, loop: true });
                        spawnWave.timers.push(spawnTask);
                    }
                }
            }
        }

        function vaccumEffect(speed, maxDist) {
            if (this.type == "vaccum" || this.type == "chest") return;
            if (this.distanceTo(player) > maxDist) return;
            this.speed = speed;
            this.onupdate = () => this.angleTowards(player);
        }
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // GAME DATA | ADD TO AND CUSTOMIZE FREELY
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        const bulletTypes = {
            normal: {
                dmg: 1,
                size: 10,
                color: "white",
                speed: 300,
                rate: 0.2, // .2s between shots (5 shots per second)
            },
            multi: {
                dmg: 1,
                size: 5,
                color: "cyan",
                speed: 375,
                rate: 0.1,
                count: 3,
                onspawn: function () {
                    this.dir += 0.1 * (this.spawnOrder - 1 - (this.count - 1) / 2);
                },
            },
        };

        const enemyTypes = {
            zombie: {
                dmg: 1,
                hp: 1,
                speed: 45,
                size: 16,
                color: "green",
                point: 1,
            },
            brute: {
                dmg: 2,
                hp: 10,
                speed: 75,
                size: 32,
                color: "#225511",
                point: 6,
            },
            reaper: {
                dmg: 100,
                hp: 1200,
                speed: 7.5,
                size: canvas.height,
                color: "white",
                point: 2_500,
                onspawn: function () {
                    this.x = canvas.width / 2;
                    this.y = -canvas.height / 2;
                },
            },
        };

        const pickupTypes = {
            gold: {
                color: "yellow",
                shape: "circle",
                size: 12,
                value: 1,
                rarity: 1,
                onpickup: function () {
                    player.score += this.value;
                },
            },
            health: {
                color: "red",
                size: 16,
                value: 1,
                rarity: 0.15,
                onpickup: function () {
                    player.hp += this.value;
                },
            },
            multi: {
                color: "cyan",
                shape: "circle",
                size: 24,
                value: 1,
                rarity: 0.05,
                duration: 15,
                onpickup: function () {
                    startShooting(this.type);
                    let task = findTask(this.type);
                    if (task) task.extend(this.duration);
                    else scheduleTask(startShooting, { time: this.duration, loop: false, id: this.type }, "normal");
                },
            },
            vaccum: {
                color: "blue",
                shape: "circle",
                size: 16,
                value: 1,
                rarity: 0.075,
                onpickup: function () {
                    forEveryPickupDo(vaccumEffect, 500);
                },
            },
            nuke: {
                color: "white",
                shape: "circle",
                size: 24,
                value: 1,
                rarity: 0.005,
                onpickup: function () {
                    function nukeEffect() {
                        this.hp -= 100;
                        if (this.hp > 0) return;
                        this.despawn();
                        spawnDrops(this);
                    }
                    forEveryEnemyDo(nukeEffect);
                },
            },
        };

        const waves = {
            0: {
                zombie: {
                    quantity: 2,
                    interval: 2,
                },
            },
            15: {
                zombie: {
                    quantity: 3,
                    interval: 2,
                },
            },
            30: {
                zombie: {
                    quantity: 2,
                    interval: 1,
                },
                brute: {
                    quantity: 1,
                    interval: 5,
                },
            },
            45: {
                zombie: {
                    quantity: 5,
                    interval: 1,
                },
                brute: {
                    quantity: 1,
                    interval: 3,
                },
            },
            90: {
                zombie: {
                    quantity: 5,
                    interval: 0.5,
                },
                brute: {
                    quantity: 1,
                    interval: 1,
                },
                reaper: {
                    quantity: 1,
                    interval: 120,
                },
            },
        };
        registerEntity(
            "Enemy",
            {
                collisions: ["Player"],
                onspawn: function () {
                    this.y = -50;
                    this.dir = Math.PI / 2;
                    this.x = Math.random() * canvas.width;
                },
                onupdate: function () {
                    if (this.y > game.height + this.size) this.despawn();
                },
                oncollide: function (other) {
                    other.hp -= this.dmg;
                    this.despawn();
                },
            },
            enemyTypes
        );
        registerEntity(
            "Bullet",
            {
                hit: [],
                pierce: 1,
                collisions: ["Enemy"],
                onspawn: function () {
                    this.x = player.x;
                    this.y = player.y;
                    playSoundEffect("shoot.wav", { volume: 0.3 });
                },
                onupdate: function (delta) {
                    if (outOfBounds(this, 20)) this.despawn();
                },
                oncollide: function (other) {
                    if (this.hit.includes(other.id)) return;
                    this.hit.push(other.id);
                    other.hp -= this.dmg;
                    this.pierce--;
                    if (this.pierce <= 0) this.despawn();
                    if (other.hp > 0) return;
                    player.kills += 1;
                    spawnDrops(other);
                    other.despawn();
                },
            },
            bulletTypes
        );
        registerEntity(
            "Pickup",
            {
                lifespan: 60,
                collisions: ["Player"],
                pickup: function () {
                    this.raise("onpickup");
                },
                oncollide: function (other) {
                    this.pickup();
                    this.despawn();
                },
                onupdate: function (delta) {
                    if (this.y > game.height + this.size) this.despawn();
                },
            },
            pickupTypes
        );
        registerEntity("Player", {
            maxSpeed: 275,
            acceleration: 7.5,
            pickupRadius: 60,
            hp: 3,
            kills: 0,
            score: 0,
            bulletType: "normal",
            onupdate: function (delta) {
                const dir = getPlayerMovementDirection();
                // Stop player if no keys are pressed otherwise change your direction.
                if (dir == null) this.speed = 0;
                else this.dir = dir;
                player.x = clamp(player.x, player.size / 2, game.width - player.size / 2);
                player.y = clamp(player.y, player.size / 2, game.height - player.size / 2);

                forEveryPickupDo(vaccumEffect, 375, this.pickupRadius);
            },
            onlevelup: function () {
                this.neededXP += this.level * 10;
                const isMaxLevel = (o) => weaponTypes[o].currentLevel >= Object.keys(weaponTypes[o].levels).length;
                let options = Object.keys(weaponTypes).filter((a) => !isMaxLevel(a));
                if (!options.length) this.hp += 25;
                else showLevelUp(options);
            },
        });
        const player = spawnPlayer({
            x: game.width / 2,
            y: game.height - 50,
            color: "blue",
            size: 20,
        });
    </script>
</html>
